<footer class="footer">
    <div class="content has-text-centered">
        <p>
           esaip
        </p>
    </div>
</footer>

<script src="/static//js/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>

<script>
    $(document).ready(function(){
      $("#searchbar-tab").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".classTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

<script>
    $(document).ready(function(){

$("#upload-file").click(function(){

    $('#upload-file').addClass('is-loading')

    var fd = new FormData();
    var files = $('.file-input')[0].files[0];
    fd.append('file',files);
    fd.append('os', $(".select-os").children("option:selected").val().toString());
    

    $.ajax({
        url: '/upload',
        type: 'post',
        data: fd,
        contentType: false,
        processData: false,
        success: function(response){
            if(response == 200){
                $('#upload-file').removeClass('is-loading')
                html_notif = '<p class="notification is-dark" role="alert"><strong>AUTO PLAY :</strong><br>' + notif_message + '<button class="delete" type="button">Close</button></p>'
                $("#notif").append(html_notif)

            }else{
                alert('file not uploaded');
            }
        },
    });
});
});
</script>