<footer class="footer">
    <div class="content has-text-centered">
        <p>
           esaip
        </p>
    </div>
</footer>

<script src="/static//js/jquery-3.5.1.js"></script>
<script>
    $(document).on('click', '.notification > button.delete', function () {
        $(this).parent().addClass('is-hidden');
        return false;
    });
</script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>

<script>
    $(document).ready(function(){
      $("#searchbar-tab").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".classTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

<script>
    $(document).ready(function(){

        function generate_notif(message, couleur){
            return `<p class="notification ${couleur}" role="alert"><strong>${message}</strong><br><button class="delete" type="button">Close</button></p>`
        }


$("#upload-file").click(function(){

    $('#upload-file').addClass('is-loading')
   
    var fd = new FormData();
    var files = $('.file-input')[0].files[0];
    var os = $(".select-os").children("option:selected").val().toString()
    fd.append('file',files);
    fd.append('os', os);
    

    $.ajax({
        url: '/upload',
        type: 'post',
        data: fd,
        contentType: false,
        processData: false,
        statusCode: {
            201 : function(response){
            console.log(response)
           
                $('#upload-file').removeClass('is-loading')

                $("#notif").append(generate_notif('VM created', 'is-success'))
        },
            404 : function(response) {
                $('#upload-file').removeClass('is-loading')

                $("#notif").append(generate_notif('Error 404, retry', 'is-warning'))
            },
            409 : function(response) {
                $('#upload-file').removeClass('is-loading')

                $("#notif").append(generate_notif('Error 409, VM for this OS and this class already exist, please delete them before', 'is-danger'))
            }
        }

    });
});
});
</script>