<div class="box">

    <h3 class="title is-3" style="text-align: center;">Ajout</h3>



    <div class="field">
        <label class="label ">Classe</label>
        <div class="control has-icons-left">
            <div class="select ">
                <select class="select-class">
                    <option value="default">Colonne "classe" dans le .csv</option>
                    <option value="1">Ing1</option>
                    <option value="2">Ing2</option>
                    <option value="3">IR3</option>
                    <option value="4">IR4</option>
                    <option value="5">IR5</option>
                    <option value="6">Bachelor</option>
                    <option value="7">M1</option>
                    <option value="8">M2</option>
                    <option value="9">Autre</option>
                </select>
            </div>
            <div class="icon is-medium is-left">
                <i class="fas fa-graduation-cap"></i>              
            </div>
        </div>
    </div>


        <div class="field">
            <label class="label">OS</label>
            <div class="control has-icons-left">
                <div class="select">
                    <select class="select-os">
                        <option value="1">Centos</option>
                        <option value="2">Debian</option>
                        <option value="3">Autre Linux</option>
                        <option value="4">Windows XP</option>
                        <option value="5">Windows 7</option>
                        <option value="6">Windows 10</option>
                        <option value="7">Windows Server 2016</option>
                        <option value="8">Windows Server 2019</option>
                        <option value="9">Autre Windows</option>
                    </select>
                </div>
                <div class="icon is-medium is-left">
                    <i class="far fa-window-restore"></i>                
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Fichier .csv</label>
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                </label>
            </div>

        </div>


        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button id="upload-file" class="button is-link">Générer</button>
            </div>
        </div>

