{% include 'header.html' %}

<body>

    <title>Accueil</title>
    <span id="notif"></span>
    <section class="hero">
    
        <div class="hero-body">
            <div class="columns is-centered">
                <div class="column is-9">


                    {% include 'table_class.html' %}

                </div>

                <div class="column is-3">


                    {% include 'form_class.html' %}

                </div>

            </div>
        </div>
    </section>

</body>

{% include 'footer.html' %}