<h3 class="title is-3" style="text-align: center;">Liste</h3>


<table class="table" style="margin: auto;">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="searchbar-tab" type="text" placeholder="Recherche">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i> </span>
                </p>

            </div>
        </div>
        <thead>
            <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Classe</th>
                <th>OS</th>
                <th>Ajoutée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="classTable">
            <tr>
                <th>1</th>
                <td>IR4</td>
                <td>CentOS</td>
                <td>10/07/2020</td>
                <td>
                    <div class="buttons">
                        <button class="button  is-info">Détails</button>
                        <button class="button  is-danger">Supprimer</button>
                      </div>
                </td>
            </tr>

            <tr>
                <th>2</th>
                <td>IR5</td>
                <td>Kali</td>
                <td>10/06/2020</td>
                <td>
                    <div class="buttons">
                        <button class="button  is-info">Détails</button>
                        <button class="button  is-danger">Supprimer</button>
                      </div>
                </td>
            </tr>
        </tbody>
</table>